<?xml version="1.0"?>
<robot>
  <transmission name="arm_lower_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_lower_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="arm_lower_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_mid_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_mid_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="arm_mid_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_upper_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_upper_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="arm_upper_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="arm_wrist_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_wrist_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="arm_wrist_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>
